

<div class="container">
  <div class="row" >
    <div class="col-sm-4" >
      <%= image_tag @operator.logo.gsub(/\s|"|'/, ''), class: "card-subscription-logo" %>
    </div>
    <div class="col-sm-8">
      <h2><%= @operator.name %>
    </div>
  </div>
<div>
  <h3>Pour joindre le service résiliation de <%= @operator.name %>:</h3>
    <br>
    <h4>email:</h4>
      <p>resilier@<%= @operator.name %><%=  %></p>
    <br>
    <h4>Téléphone:</h4>
      <p>+331 55 92 40 00</p>
    <br>
    <h4>adresse:</h4>
      <p><strong><%= @operator.name %> France - service résiliation</strong></p>
      <p>313 Terrasses de l’Arche</p>
      <p>92727 Nanterre Cedex</p>
<br>
  <h3>A garder en tête:</h2>
    <p>En tant que particulier, vous disposez d’un délai de rétractation sur votre abonnement : 14 jours à compter de la date de souscription, sans avoir à motiver votre décision. Dans ce cas, vous êtes remboursé pour la période d’assurance non utilisée. Pour procéder, adressez une lettre recommandée de renonciation à <strong><%= @operator.name %></strong> en indiquant votre nom et votre numéro de contrat.</p>
</div>
</div>


