<%# require "action_view" %>

<div class="card-subscription-show">
  <div class="card-subscription-left">
    <div class="card-subscription-top-left">
      <div class="card-subscription-operator">
        <h3><%= subscription.operator.name %></h3>
      </div>
      <div class="card-subscription-frequency">
          <p><%= subscription.payment_frequency[:type] %></p>
      </div>
    </div>
    <div class="card-subscription-bottom-left">
      <div class="card-subscription-show-price">
        <h2><%=  curr_format(subscription.avg_fee.abs)  %></h2>

      </div>
      <!--  Unless it's a new sub, display trend icon - up, down, flat - depending on last transactions variation -->
      <% unless subscription.new_sub? %>
        <%= image_tag("#{subscription.trend}.png", class: "card-subscription-trend") %>
      <% end %>
    </div>
  </div>
  <div class="card-subscription-right">
    <%= image_tag("#{subscription.operator.logo.gsub(/\s|"|'/, '')}", class: "card-subscription-logo") %>
    <div class="card-subscription-show-date">
      <p>Paiement dans <%=  highlight( subscription.time_before_next_payment , /\d/, highlighter: '<strong>\1</strong>') %></p>
    </div>
  </div>
</div>

