<%= render 'shared/navbarshow' %>
<%= render 'shared/cardaffiliatedbank' %>
<div class="lineseparator"></div>
<%#= render 'shared/card' subscription: @subscription %>
<%= render 'shared/cardstats' %>
<div class="lineseparator"></div>
<%= render 'shared/cardstatsdate' %>
<div class="lineseparator"></div>

<%= render 'shared/cardunsubscribe' %>



