<%= render 'shared/navbarshow', subscription: @subscription %>
<%= render 'shared/chartshow', datashow: @datashow  %>
<%= render 'shared/card', subscription: @subscription %>
<%= render 'shared/cardaffiliatedbank', subscription: @subscription %>
<div class="lineseparator"></div>
<%= render 'shared/cardstats', subscription: @subscription, last_month_share: @last_month_share %>
<div class="lineseparator"></div>
<%= render 'shared/cardstatsdate', subscription: @subscription %>
<div class="lineseparator"></div>
<%= render 'shared/cardunsubscribe', subscription: @subscription %>



