<%= render 'shared/navbarshow', subscription: @subscription %>
<%= render 'shared/card', subscription: @subscription %>
<%= render 'shared/cardaffiliatedbank', subscription: @subscription %>
<div class="lineseparator"></div>
<%= render 'shared/cardstats', subscription: @subscription %>
<div class="lineseparator"></div>
<%= render 'shared/cardstatsdate', subscription: @subscription %>
<div class="lineseparator"></div>
<%= render 'shared/cardunsubscribe', subscription: @subscription %>



